<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/title.ejs") %>
    <%- include("partials/styles.ejs") %>
</head>

<body>
    <header>
            <%- include("partials/header.ejs") %>
            <%- include("partials/nav.ejs") %>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum suscipit quia odio alias assumenda ut libero, vero dolores ipsam laboriosam illum obcaecati adipisci facere pariatur dignissimos velit nesciunt porro maiores. Quibusdam sunt temporibus voluptatem quod corrupti eveniet unde ullam atque ex! Vero voluptate enim ab, nemo rem sequi aut consequuntur officia laborum ad asperiores consequatur maiores odit eius. Et quibusdam earum praesentium. Dolorum alias reiciendis vitae cupiditate tempora inventore quod, perspiciatis ipsa excepturi dignissimos, veritatis, voluptas dicta ad debitis consectetur illo rerum! Ipsa illo aut deleniti distinctio similique doloribus commodi eveniet saepe quia, necessitatibus adipisci iste explicabo ipsum in nesciunt odit fugiat culpa debitis ipsam! Reiciendis corporis architecto eligendi eaque asperiores minima aliquam quos voluptas adipisci nemo consequatur dolorem distinctio aliquid qui, aspernatur veniam ullam fugiat soluta, sunt repellendus excepturi. Consectetur accusantium voluptatem vitae harum, nostrum saepe? Praesentium voluptates corrupti saepe enim ipsam consequatur voluptatem, rerum iste incidunt voluptate ab magni eligendi sit aspernatur illum suscipit ducimus distinctio ipsum hic cupiditate voluptatibus animi! Commodi voluptatem at quidem laborum, eum alias animi obcaecati laudantium, ea, ad atque? Earum fuga maiores eos ex inventore libero minima excepturi omnis. Aliquid, necessitatibus enim. Consequuntur sequi fugit velit obcaecati iusto nisi labore sunt minus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum suscipit quia odio alias assumenda ut libero, vero dolores ipsam laboriosam illum obcaecati adipisci facere pariatur dignissimos velit nesciunt porro maiores. Quibusdam sunt temporibus voluptatem quod corrupti eveniet unde ullam atque ex! Vero voluptate enim ab, nemo rem sequi aut consequuntur officia laborum ad asperiores consequatur maiores odit eius. Et quibusdam earum praesentium. Dolorum alias reiciendis vitae cupiditate tempora inventore quod, perspiciatis ipsa excepturi dignissimos, veritatis, voluptas dicta ad debitis consectetur illo rerum! Ipsa illo aut deleniti distinctio similique doloribus commodi eveniet saepe quia, necessitatibus adipisci iste explicabo ipsum in nesciunt odit fugiat culpa debitis ipsam! Reiciendis corporis architecto eligendi eaque asperiores minima aliquam quos voluptas adipisci nemo consequatur dolorem distinctio aliquid qui, aspernatur veniam ullam fugiat soluta, sunt repellendus excepturi. Consectetur accusantium voluptatem vitae harum, nostrum saepe? Praesentium voluptates corrupti saepe enim ipsam consequatur voluptatem, rerum iste incidunt voluptate ab magni eligendi sit aspernatur illum suscipit ducimus distinctio ipsum hic cupiditate voluptatibus animi! Commodi voluptatem at quidem laborum, eum alias animi obcaecati laudantium, ea, ad atque? Earum fuga maiores eos ex inventore libero minima excepturi omnis. Aliquid, necessitatibus enim. Consequuntur sequi fugit velit obcaecati iusto nisi labore sunt minus?</p>
    </main>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
    
    <%- include("partials/scripts.ejs") %>
</body>

</html>