<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <%- include("partials/styles.ejs") %>
</head>

<body>
    <header>
            <%- include("partials/header.ejs") %>
            <%- include("partials/nav.ejs") %>
    </header>
    <main>
        <h1>Products</h1>
    </main>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
    
    <%- include("partials/scripts.ejs") %>
</body>

</html>