<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/title.ejs") %>
    <%- include("partials/styles.ejs") %>
</head>

<body>
    <header>
        <%- include("partials/header.ejs") %>
        <%- include("partials/nav.ejs") %>
    </header>
    <main>
        <%- include("partials/salebanner.ejs") %>
        <h1 class="pagetitle">Products</h1>
        <div class="productlist">
        <% products.forEach(product =>{ %>
        <div class="product">
            <img src=<%= typeof product.picture != "undefined" ? product.picture : "/img/products/placeholder.jpg" %> alt="product" class="productimg">
            <p><%- product.name %></p>  
        </div>
        <% }); %>
    </main>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>

    <%- include("partials/scripts.ejs") %>
</body>

</html>